# Telegram Bot
aiogram==3.7.0

# Async HTTP
aiohttp==3.10.11
aiofiles==23.2.1
httpx==0.28.1

# Cache
redis==5.2.1

# Config
pydantic==2.10.4
pydantic-settings==2.7.0
python-dotenv==1.0.1

# Database
sqlalchemy[asyncio]==2.0.36
asyncpg==0.30.0

# Auth
python-jose[cryptography]==3.3.0
cryptography==44.0.0
